{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/sort-prop-types": [2, {
      "callbacksLast": true,
      "requiredFirst": true
    }],
    "react/prefer-stateless-function": "warn"
  }
}
